/** src/styles/_colors.scss **/

$white: #fff;
$black: #000;

$indigo-50:  rgba(238, 242, 255, 1);
$indigo-100: rgba(224, 231, 255, 1);
$indigo-200: rgba(199, 210, 254, 1);
$indigo-300: rgba(165, 180, 252, 1);
$indigo-400: rgba(129, 140, 248, 1);
$indigo-500: rgba(99, 102, 241, 1);
$indigo-600: rgba(79, 70, 229, 1);
$indigo-700: rgba(67, 56, 202, 1);
$indigo-800: rgba(55, 48, 163, 1);
$indigo-900: rgba(49, 46, 129, 1);

$grey-50: #fafafa;
$grey-100: #f4f4f5;
$grey-200: #e4e4e7;
$grey-300: #d4d4d8;
$grey-400: #a1a1aa;
$grey-500: #71717a;
$grey-600: #52525b;
$grey-700: #3f3f46;
$grey-800: #27272a;
$grey-900: #18181b;

$fuchsia-50: #fdf4ff;
$fuchsia-100: #fae8ff;
$fuchsia-200: #f5d0fe;
$fuchsia-300: #f0abfc;
$fuchsia-400: #e879f9;
$fuchsia-500: #d946ef;
$fuchsia-600: #c026d3;
$fuchsia-700: #a21caf;
$fuchsia-800: #86198f;
$fuchsia-900: #701a75;

$cyan-50: #ecfeff;
$cyan-100: #cffafe;
$cyan-200: #a5f3fc;
$cyan-300: #67e8f9;
$cyan-400: #22d3ee;
$cyan-500: #06b6d4;
$cyan-600: #0891b2;
$cyan-700: #0e7490;
$cyan-800: #155e75;
$cyan-900: #164e63;

$green-50: #f0fdf4;
$green-100: #dcfce7;
$green-200: #bbf7d0;
$green-300: #86efac;
$green-400: #4ade80;
$green-500: #22c55e;
$green-600: #16a34a;
$green-700: #15803d;
$green-800: #166534;
$green-900: #14532d;

$amber-50: #fffbeb;
$amber-100: #fef3c7;
$amber-200: #fde68a;
$amber-300: #fcd34d;
$amber-400: #fbbf24;
$amber-500: #f59e0b;
$amber-600: #d97706;
$amber-700: #b45309;
$amber-800: #92400e;
$amber-900: #78350f;

$orange-50: #fff7ed;
$orange-100: #ffedd5;
$orange-200: #fed7aa;
$orange-300: #fdba74;
$orange-400: #fbbf24;
$orange-500: #f97316;
$orange-600: #ea580c;
$orange-700: #c2410c;
$orange-800: #9a3412;
$orange-900: #7c2d12;

$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #741d1d;

