
@mixin gradient_indigo-cyan-indigo {
  background-image: linear-gradient(60deg, rgba($indigo-800, 1) 15%, rgba($cyan-200, 1) 40%, rgba($indigo-800, 1) 100%);
}

@mixin gradient_amber-red-amber {
  background-image: linear-gradient(120deg, rgba($amber-200, 1) 30%, rgba($red-400, 1) 50%, rgba($amber-200, 1) 100%);
}

@mixin gradient_indigo-fuschia-box {
  background-image: 
    linear-gradient(0deg, rgba($indigo-900, .5) 0%, rgba($indigo-900, 0) 20%),
    linear-gradient(90deg, rgba($indigo-900, .5) 0%, rgba($indigo-900, 0) 20%),
    linear-gradient(180deg, rgba($indigo-900, .5) 0%, rgba($indigo-900, 0) 20%),
    linear-gradient(270deg, rgba($indigo-900, .5) 0%, rgba($indigo-900, 0) 20%),
    linear-gradient(0deg, rgba($fuchsia-600, .5) 0%, rgba($fuchsia-600, 0) 100%),
    linear-gradient(180deg, rgba($fuchsia-600, .5) 0%, rgba($fuchsia-600, 0) 100%),
    radial-gradient(rgba($amber-900, 1), rgba($fuchsia-600, 0));
}

@mixin gradient_warm-sunrise {
  background-image: 
    linear-gradient(0deg, rgba($red-300, .25) 0%, rgba($red-300, 0) 10%),
    radial-gradient(circle, rgba($cyan-500, .25) 0%, rgba($cyan-300, 0) 30%),
    linear-gradient(180deg, rgba($indigo-900, 1) 0%, rgba($indigo-600, 0) 60%),
    linear-gradient(0deg, rgba($orange-500, .8) 0%, rgba($orange-900, 0) 60%),
    linear-gradient(180deg, rgba($cyan-600, .3) 0%, rgba($cyan-600, 1) 10%);
}

@mixin gradient_vibrant-sunset {
  background-image: 
    linear-gradient(0deg, rgba($orange-600, .9) 0%, rgba($orange-600, 0) 50%),
    linear-gradient(0deg, rgba($fuchsia-300, 1) 40%, rgba($fuchsia-300, .2) 80%),
    linear-gradient(0deg, rgba($indigo-900, .7) 60%, rgba($indigo-900, .5) 100%),
    linear-gradient(0deg, rgba($cyan-300, .7) 80%, rgba($cyan-300, .5) 100%),
}

/***/

.gradient_indigo-cyan-indigo {
  @include gradient_indigo-cyan-indigo;
}

.gradient_amber-red-amber {
  @include gradient_amber-red-amber;
}

.gradient_indigo-fuschia-box {
  @include gradient_indigo-fuschia-box;
}

.gradient_warm-sunrise {
  @include gradient_warm-sunrise;
}

.gradient_vibrant-sunset {
  @include gradient_vibrant-sunset;
}
