/** src/styles/_mixins.scss **/

/*
Responsive Specs
-------------------------------------------
Viewport   Range           Content Width
x-small  | 320 - 735     | 87.5%
small    | 320 - 735     | 87.5%
medium   | 736 - 1068    | 692px
large    | 1069 - 1441   | 980px
x-large  | 1442 - 3008   | 980px
*/

@mixin content-container {
  @media screen and (min-width: $viewport-xlarge_min-width) { //x-large
    width: 980px;
    font-size: $text-4xl;
    font-weight: 200;

    h1 {

    }
  }

  @media screen and (min-width: $viewport-large_min-width) and (max-width: $viewport-large_max-width) { //large
    width: 980px;
    font-size: $text-4xl;
    font-weight: 200;

    h1 {

    }

    h2 {
      
    }
  }

  @media screen and (min-width: $viewport-medium_min-width) and (max-width: $viewport-medium_max-width) { //medium
    width: 692px;
    font-size: $text-4xl;
    font-weight: 200;

    h1 {

    }

    h2 {
      
    }
  }

  @media screen and (min-width: $viewport-small_min-width) and (max-width: $viewport-small_max-width) { //small
    width: 87.5%;
    font-size: $text-xl;
    font-weight: 200;

    .vibe-logo {
      font-size: 1.45rem;
    }

    h1 {
      font-size: $text-xl;

      .vibe-logo {
        font-size: $text-3xl;
      }
    }

    h2 {
      font-size: $text-2xl;

      .vibe-logo {
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: $viewport-xsmall_max-width) { //small
    width: 87.5%;
    font-size: $text-4xl;
    font-weight: 200;
    
    h1 {
      font-size: $text-xl;

      .vibe-logo {
        font-size: $text-3xl;
      }
    }

    h2 {
      font-size: $text-2xl;
    }
  } 
}

@mixin prepareTextForGradient {
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 99%, 0% 99%);
  clip-path: polygon(0 1%, 100% 1%, 100% 99%, 0% 99%);
}

// gradients:
@mixin gradient_orange-to-turquoise {
  background: linear-gradient(-225deg, rgba(83, 159, 180, 0) 0%, rgb(83, 159, 180) 100%),
    linear-gradient(63.434948822922024deg, rgb(248, 51, 0) 0%, rgb(247, 11, 88) 50%, rgb(104, 36, 232) 100%);

  @include prepareTextForGradient;
}

@mixin gradient_turquoise-to-purple {
  background: linear-gradient(-225deg, rgb(83, 159, 180) 25%, rgb(104, 36, 232) 100%);

  @include prepareTextForGradient;
}

@mixin gradient_orange-to-pink {
  background: linear-gradient(
    45deg,
    rgba(241, 110, 33, 1) 0%,
    rgba(248, 51, 0, 1) 25%,
    rgba(247, 11, 88, 1) 50%,
    rgba(248, 51, 0, 1) 75%,
    rgba(241, 110, 33, 1) 100%
  );

  @include prepareTextForGradient();
}

@mixin gradient_blue_to_purple {
  background: linear-gradient(
    45deg,
    rgba(83, 159, 180, 1) 0%,
    rgba(104, 36, 232, 1) 25%,
    rgba(122, 23, 222, 1) 50%,
    rgba(104, 36, 232, 1) 75%,
    rgba(83, 159, 180, 1) 100%
  );

  @include prepareTextForGradient;
}
