/** src/styles/_typography.scss **/

$text-xs: .75rem;
$text-sm: .875rem;
$text-base: 1rem;
$text-lg : 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;

$default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

h1 {
  font-size: $text-4xl;
  font-weight: 200;
}

h2 {
  font-size: $text-6xl;

  .vibe-logo {
    font-family: AristaProAlternateLight;
    font-size: 4.5rem;
  }
}

.vibe-logo {
  font-family: AristaProAlternateExtraLight;
  font-size: 2.6rem;
}

@font-face {
  font-family: AristaProAlternateBold;
  src: url(/fonts/Arista-Pro-Alternate-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateExtraLight;
  src: url(/fonts/Arista-Pro-Alternate-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateFat;
  src: url(/fonts/Arista-Pro-Alternate-Fat.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateHairline;
  src: url(/fonts/Arista-Pro-Alternate-Hairline.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateLight;
  src: url(/fonts/Arista-Pro-Alternate-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateRegular;
  src: url(/fonts/Arista-Pro-Alternate-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateSemiBold;
  src: url(/fonts/Arista-Pro-Alternate-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProAlternateThin;
  src: url(/fonts/Arista-Pro-Alternate-Thin.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProBold;
  src: url(/fonts/Arista-Pro-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProExtraLight;
  src: url(/fonts/Arista-Pro-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProFat;
  src: url(/fonts/Arista-Pro-Fat.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProHairline;
  src: url(/fonts/Arista-Pro-Hairline.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProLight;
  src: url(/fonts/Arista-Pro-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProRegular;
  src: url(/fonts/Arista-Pro-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProSemiBold;
  src: url(/fonts/Arista-Pro-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: AristaProThin;
  src: url(/fonts/Arista-Pro-Thin.ttf);
  font-display: swap;
}