/** src/styles/_viewports.scss **/

$viewport-xlarge_min-width: 1441px;

$viewport-large_min-width: 1069px;
$viewport-large_max-width: 1440px;

$viewport-medium_min-width: 735px;
$viewport-medium_max-width: 1068px;

$viewport-small_min-width: 320px;
$viewport-small_max-width: 734px;

$viewport-xsmall_max-width: 319px;